#canvas1 {
  border: 5px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 600px;
}

#controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

#controls,
select,
option {
  font-size: 1.5rem;
}
